github "RxSwiftCommunity/RxRealm"
github "Friend-LGA/LGSideMenuController"
github "hackiftekhar/IQKeyboardManager"
github "yannickl/QRCodeReader.swift" >= 8.0.1
github "aschuch/QRCode"
github "Hearst-DD/ObjectMapper" ~> 2.2
github "radex/SwiftyUserDefaults"